<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIPS - Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="resultado" class="container">
        <h2>OUTPUT:</h2>
        <div id="espacio" class="row">
            <div class="col">
                {% for fila in output %}
                    <p>{{ fila[0] }} -> {{fila[1]}} {{fila[2]}}</p>
                                
                {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('menu') }}">Volver</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

