body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f2f5fa;
}

h1 {
    margin-bottom: 20px;
    color: #005a9e;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #005a9e;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #005a9e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #003d80;
}

.login-form .register-button {
    margin-top: 10px;
    background-color: #005a9e;
    color: #fff;
}

.login-form .register-button:hover {
    background-color: #003d80;
}
.fila {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.cuadro {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 30%; /* Ajustar el ancho del cuadro exterior */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cuadro h2 {
    margin-top: 0;
    color: #005a9e;
}
.cuadro button {
    margin-top: 10px;
    background-color: #005a9e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.cuadro button:hover {
    background-color: #003d80;
}
/* Estilos para el cuadro de texto como cuadro de información */
textarea {
    resize: none;
    width: 70%;
    height: 120px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: #cfe7fc; /* Color de fondo azul claro */
    cursor: text; /* Cambiar el cursor a texto */
    pointer-events: none; /* Deshabilitar eventos de ratón */
}
